 
        html{
            scroll-behavior: smooth;
          }
  
          .FromRight{
              animation: RightIn 2s;
          }
          .FromLeft{
              animation: leftIn 2s;
          }
          @keyframes LeftIn {
            
              from{
                  transform: translateX(-100%);
                  opacity: 0;
              }
              to{
                  transform: translateX(0);
                  opacity: 1;
              }
          }
          @keyframes RightIn {
            
            from{
                transform: translateX(100%);
                opacity: 0;
            }
            to{
                transform: translateX(0);
                opacity: 1;
            }
        }
        #nav{
          background-color: white;
          box-shadow: 2px 2px 1px rgba(152, 147, 228, 0.562);
        }
        
        .Img-Main {
          text-align: center;
          margin-top: 30px;
          animation: LeftIn 2s;
          padding: 5% 10% 1% 10%;
        }
        .Img-Main > img{
          border-radius: 50%;
          height: min-content;
          border: 1px solid rgba(152, 147, 228);
        }
        .Img-Heading {
          margin-top: 30px;
          font-family: "Mulish", sans-serif;
          font-size: 52px;
        }
        .Img-Heading-Bold {
          font-family: "Mulish", sans-serif;
          font-weight: bolder;
          display: none;
        }
        
        .Introduction {
          margin: 1% auto;
          width: 60%;
          text-align: center;
          font-size: 1.2em;
        }
        .links{
          display: flex;
          justify-content: center;
        }
  
        .links a:hover{
          transform: scale(1.1);
        }

        .Resume{
          display: flex;
          width: 100%;
          justify-content: center;
        }
        .Resume > a > button {
          margin-top: 20px;
          padding: 4px 16px;
          background-color: transparent;
          border-radius: 4px;
          border: 2px solid rgba(152, 147, 228); 
        }
        .Resume > a > button:hover{
          transform: scale(1.1);
          box-shadow: 1px 1px 1px gainsboro;
        }
        
        #About{
            display: block;
        }
        
        .About {
          margin-top: 20px;
          display: flex;
          font-size: 12px;
          line-height: 30px;
        }

        .About > p {
          font-size: 16px;
          line-height: 30px;
          text-align: justify;
        }
     
        .Skills-Head{
          font-family: 'Yanone Kaffeesatz', sans-serif;
          font-size: 54px !important;
          margin: 5% 0% 0% 0%;
        }
        .Skills{
          width: 100%;
          padding: 1% 0%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }

        .SkillCircle{
          width: 40px !important;
          height: 20px !important;
          border-radius: 20px;
          position: relative;
          top:0;
          left: 50%;
          background-color:  rgba(152, 147, 228);
        }

        .Skills > div {
          width: 100%;
          margin: 0% auto;
          padding: 0px 8px;
        }
         
        .SkillNode{
           display:flex;
           flex-direction: row;
           padding: 30px;
        }
        .SkillNode > div{
          width: 100%;
        }

        .Skills > .SkillNode > div > p{
          display: block;
          color: rgb(66, 49, 163);
          font-size: 18px;
          font-weight: 600;
          margin: 0px 30px;
        }
        .SkillNode > div > ul {
          padding: 0 60px;
          list-style: none;
        }
        .left{
          text-align: right;
          border-right: 1px solid rgba(152, 147, 228);
        }
        .Right{
          border-left: 1px solid rgba(152, 147, 228);
        }
        .project{
          padding: 2% 2%;
        }
        .Projects h2{
          font-family: 'Yanone Kaffeesatz', sans-serif;
          font-size: 54px !important;
          margin: 3%;
        }
        .project .name{
          margin: 1%;
          font-weight: bold;
          font-size: 24px;
        }
        .project p{
          margin: 2%;
          font-size: 16px;
        }
        .project-slide{
          display: flex;
          align-items: center;
        }
        .project-slide button{
          background-color: transparent;
          border: none;
          font-size: 50px;
          font-weight: bolder;
          padding: 0px;
          outline: none;
        }
        .project-slide button:hover{
           transform: scale(1.2);
        }
  
       #ProjectSlides{
          width: 100%;
          height: 600px;
        }
        #ProjectSlides iframe{
          width: 100%;
          height: 600px;
        }
        
  
        #project-grid{
          display: none;
        }
  
        .toggle{
          font-size: 18px;
          background-color:transparent;
          outline: none;
          width: 10%;
          padding: 5px auto;
          border-radius: 3px;
          margin: 5px 45%;
          color: black;
        }
        .flex{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .footerflex{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .flex img{
          height: 400px;
          width: 90%;
          margin: 3%;
        }
        .flex-1{
          font-size: 1.4em;
          font-family: "Mulish", sans-serif;
        }
        body{
          scroll-behavior: smooth;
        } 
  
      .darkmode{
        position: fixed;
        height: 37px;
        top: 20px;
        right: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 10000;
      }
      .darkmode:active{
        outline: none;
      }
      footer{
        margin-top: 10px;
        display: flex;
        padding: 1% 10%;
      }
      footer > div {
        width: 100%;
      }
      footer > div > ul {
        list-style: none;
        padding: 0%;
      }
      footer > div > p{
        font-size: 18px;
        color: rgb(41, 30, 107);
        font-weight: 600;
      }
    
      .footerImg{
        width: 100px ;
        height: 100px;
        border-radius: 50%;
        margin: 5px auto;
      }
  a{
    text-decoration: none;
    color: black;
  }
  hr{
    border-top: 1px solid rgba(168, 87, 221, 0.527);
  }
      @media(max-width: 820px){
        .Img-Main{
          padding: 5% 25% 3% 25%;
        }
        .Img-Main > img{
          width: 100%;
          height: auto;
        }
        .darkmode{
          top: 70px;
          right: 25px;
          color: #fffcf7 !important;
          z-index: 100;
        }
        .Introduction{
          width: 90%;
        }
        .flex-1{
          font-size: 12px;
          padding: 3px 3%;
          font-weight: 600;
          line-height: 20px;
        }
        .flex{
          flex-direction: column;
        }
        .flex-reverse{
          flex-direction: column-reverse;
        }
        .flex img{
          height: 100px;
        }
        #ProjectSlides{
          height: 200px;
          width: 80%;
        }
        #project-slide iframe{
          height: 200px;
          width: 100%;
          margin: auto;
        }
        .project iframe{
          width: 90%;
          margin: 1% 5%;
        }
        .toggle{
          width: 40%;
          margin: 10px 30%;
        }
        .Skills{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex-flow: wrap
        }
        .SkillNode{
          display: block;
          text-align: left;
        }
        .SkillNode > div{
          text-align: left !important;
          border-left: 1px solid rgba(152, 147, 228) ;
          border-right: unset;
        }
        .Skills > div {
          width: 100%;
          padding: 0% 3%;
        }
        .Skills > div > p{
          font-size: 16px;
        }
        .SkillNode> div > ul{
          font-size: 14px;
          margin:0px !important;
        }
        .SkillCircle{
          width: 20px !important;
          left:-10px;
        }
        
        footer{
          flex-direction: column;
          display: flex;
          flex-flow: wrap

        }
        footer > div {
          width: 40%;
          font-size: 14px;
        }
        .footerflex{
          width: 100%;
        }
        .footerImg{
          width: 50px;
          height: 50px;
        }
      }
      
      